{
 :paths ["src/main/clojure"]
 :deps {  io.github.clojure/clr.tools.deps {:git/tag "v0.1.8" :git/sha "1cb01c7"}}
   :aliases
   {:test
     {:extra-paths ["src/test/clojure"]
	  :extra-deps {io.github.dmiller/test-runner {:git/tag "v0.5.3clr" :git/sha "ae91dd2"}}
	  ;; :main-opts {"-m" "cognitect.test-runner" "-d" "src/test/clojure"}
	  :exec-fn cognitect.test-runner.api/test
	  :exec-args {:dirs ["src/test/clojure"]}}}

}